* {
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
  font-size: 18;
}

.text-gradient {  
  display: inline-block;
  color: green;
  font-size: 2em;
  font-family: '微软雅黑';
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
};